#background{
    background-color: #7A7423;
    height: 100vh;
    width: 100vw;
    padding-top: 5%;
}
#center{
    border-radius:10px;
    background-color: #c8c160;
    height: 100%;
    padding-top: 5%;
    padding-left: 4%;
    padding-bottom: 10%;
    text-align:center;
}
#center-center{
    border-radius:10px;
    background-color: #000;
    height: 100%;
    padding-top: 10%;
    padding-right: 50%;
    
}
.body{
    height: 100vh;
    width: 100vw;
}
p{
    color: white;
    font-size: 30px
}